
      <form>
        <div class="mb-3">
          <label for="jour" class="form-label">Jour</label>
          <input type="date" class="form-control" id="jour">
        </div>
        <div class="mb-3">
          <label for="heureDebut" class="form-label">Heure de début</label>
          <input type="time" class="form-control" id="heureDebut">
        </div>
        <div class="mb-3">
          <label for="heureFin" class="form-label">Heure de fin</label>
          <input type="time" class="form-control" id="heureFin">
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
      </form>
