.tab-container {
  max-width: 600px;
  margin: 5% auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}

.tab-headers {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-headers button {
  background: none;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.tab-headers button.active {
  border-color: var(--main-bg-color);
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.error-messages {
  margin-top: 5px;
}

.text-danger {
  color: red;
}

.btn-submit {
  background-color: var(--main-bg-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: var(--bis-bg-color);
}

.btn-submit:disabled {
  background-color: #ccc;
}
