.navbar-brand {
  color: rgb(235, 99, 44) !important;
}

.btn-outline-success {
  color: white;
  background-color: rgb(235, 99, 44);
  border-color: rgb(235, 99, 44);
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  flex-grow: 1;
  justify-content: flex-end;
  margin: 10px;
}
